/* .cross{
  width: 30px;
  height: 30px;
  margin: 5px;
  float: left;
  color: var(--primary);
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cross:hover{
  background: var(--primary);
  color: white;
} */
.card{
  text-align: center;
}

.item-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}