@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body{
  font-family: "Noto Serif";
  color: var(--secondary);
}

.App{
  max-width: 1260px;
  margin: 0 auto;
}

.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
  padding: 15px;
}

.cross{
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  /* margin-left: 20px; */
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}

.cross:hover{
  background: var(--primary);
  color: white;
}

.form{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.form label {
  text-align: left;
  display: block;
}

.form h2 {
  font-size: 20px;
  color: #4e4e4e;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  height: 50px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
}

.form textarea{
  width: 100%;
  height: 150px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
}

.form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* .card-body{
  background-color: #4e4e4e;
} */

